# huggingface_hub==0.25.2
streamlit
pandas 
numpy
ollama
# langchain==0.0.200
# pinecone-client==2.0.0
# langchain[pinecone]
langchain 
chromadb 
gradio 
langchain-community
pymupdf
pinecone-client
llama-index 
llama-index-vector-stores-pinecone
contexttimer
langchain-ollama
sentence-transformers
llama-index-embeddings-huggingface  



